## shared ##
dev-*.sh

## python services ##
.env*
.venv
__pycache__

## core ##
core/.openapi-generator

# gds
core/core/generated/gds/*
!core/core/generated/gds/.openapi-generator-ignore

# tdp
core/core/generated/tdp/*
!core/core/generated/tdp/.openapi-generator-ignore

## redis ##
redis/store/*

## runelite ##
# have git recursively ignore/unignore subdirs so that we only track the nested dirs containing relevant code
runelite/*

# runelite-core
!runelite/core
runelite/core/*
!runelite/core/src/main/java
runelite/core/src/main/java/*
!runelite/core/.openapi-generator-ignore
!runelite/core/pom.xml
!runelite/core/README.md

# runelite-client
!runelite/runelite-client/
runelite/runelite-client/*
!runelite/runelite-client/src/
runelite/runelite-client/src/*

# main
!runelite/runelite-client/src/main/
runelite/runelite-client/src/main/*
!runelite/runelite-client/src/main/java/
runelite/runelite-client/src/main/java/*
!runelite/runelite-client/src/main/java/net/
runelite/runelite-client/src/main/java/net/*
!runelite/runelite-client/src/main/java/net/runelite/
runelite/runelite-client/src/main/java/net/runelite/*
!runelite/runelite-client/src/main/java/net/runelite/client/
runelite/runelite-client/src/main/java/net/runelite/client/*
!runelite/runelite-client/src/main/java/net/runelite/client/plugins/
runelite/runelite-client/src/main/java/net/runelite/client/plugins/*
!runelite/runelite-client/src/main/java/net/runelite/client/plugins/gamedataserver/

# test
!runelite/runelite-client/src/test/
runelite/runelite-client/src/test/*
!runelite/runelite-client/src/test/java/
runelite/runelite-client/src/test/java/*
!runelite/runelite-client/src/test/java/net/
runelite/runelite-client/src/test/java/net/*
!runelite/runelite-client/src/test/java/net/runelite/
runelite/runelite-client/src/test/java/net/runelite/*
!runelite/runelite-client/src/test/java/net/runelite/client/
runelite/runelite-client/src/test/java/net/runelite/client/*
!runelite/runelite-client/src/test/java/net/runelite/client/plugins/
runelite/runelite-client/src/test/java/net/runelite/client/plugins/*
!runelite/runelite-client/src/test/java/net/runelite/client/plugins/gamedataserver/

# script
!runelite/scripts/
!runelite/scripts/version
!runelite/scripts/sync_runelite.sh
!runelite/scripts/add_core_dependency.py

# misc
target
nbactions.xml
nb-configuration.xml
/nbproject/
project.properties
*.iml
.idea/
.project
.settings/
.classpath
.vscode
.factorypath
.DS_Store

